.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.map-container {
  width: 100%;
  height: 100%;
}

.info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-line {
  margin: 0.5 0;
  font-size: 2rem;
}

.popup {
  position: fixed;
  z-index: 10;
  background-color: white;
  padding: 2rem;
  left: 30vw;
}

/* Buttons */
.btn-addTable {
  border: none;
  background: none;
  font-size: 2rem;
  border-bottom: 1px solid black;
}

.btn-addTable:hover {
  cursor: pointer;
}

.btn {
  font-family: inherit;
}

.btn:hover {
  cursor: pointer;
}

/* Forms */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.form-heading {
  margin: 0 0 1rem;
}

.form-input {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.form-textarea {
  resize: none;
  align-self: stretch;
  font-family: inherit;
}

#numberOfTables {
  width: 3.5rem;
}